<div class="container-login">
    <div class="container-login-central">
        <div class="container-header">
            <div class="titulo-login">
                Conceitus ERP
            </div>

            <div class="info-login">
                Digite seu e-mail e senha para logar!
            </div>
        </div>

        <div class="container-form">
            <form class="form-inputs">
                <div class="group-input">
                    <div class="text-info">
                        Email
                    </div>
                    <input class="input-form" type="text" name="email" id="email" placeholder="Digite seu e-mail">
                </div>

                <div class="group-input">
                    <div class="text-info">
                        Senha
                    </div>
                    <input class="input-form" type="password" name="senha" id="senha" placeholder="Digite sua senha">
                </div>

                <div class="group-input">
                    <input class="btn-login" type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>