<navbar></navbar>
<sidebar></sidebar>

<div *ngIf="tipoTela == 2" class="container-base">
    <div class="content-page">
        <div class="card-header">
            <div class="header-info-2">
                <div class="card-header">
                    <div class="card-title">Cadastro de Sistemas</div>
                    <div class="card-menu" (click)="ListaSistemasUsuario()">Listagem de Sistemas</div>
                </div>
            </div>
        </div>

        <form class="form-page" [formGroup]="sistemaForm" (submit)="enviar()">
            <div class="row">
                <div class="group-row">
                    <label>Sistema</label>
                    <input type="text" name="name" id="name" placeholder="Digite o nome do sistema" formControlName="name" required />
                    <label class="error-input" *ngIf="sistemaForm.get('name')?.errors?.['required'] && sistemaForm.get('name')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label>Mês Sistema</label>
                    <input type="number" name="mes" id="mes" placeholder="Mês" formControlName="mes" required />
                    <label class="error-input" *ngIf="sistemaForm.get('mes')?.errors?.['required'] && sistemaForm.get('mes')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label>Ano Sistema</label>
                    <input type="number" name="ano" id="ano" placeholder="Ano" formControlName="ano" required />
                    <label class="error-input" *ngIf="sistemaForm.get('ano')?.errors?.['required'] && sistemaForm.get('ano')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label>Dia Fechamento</label>
                    <input type="number" name="diaFechamento" id="diaFechamento" placeholder="DiaFechamento" formControlName="diaFechamento" required />
                    <label class="error-input" *ngIf="sistemaForm.get('diaFechamento')?.errors?.['required'] && sistemaForm.get('diaFechamento')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label>Mês Cópia</label>
                    <input type="number" name="mesCopia" id="mesCopia" placeholder="mesCopia" formControlName="mesCopia" required />
                    <label class="error-input" *ngIf="sistemaForm.get('mesCopia')?.errors?.['required'] && sistemaForm.get('mesCopia')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label>Ano Cópia</label>
                    <input type="number" name="anoCopia" id="anoCopia" placeholder="AnoCopia" formControlName="anoCopia" required />
                    <label class="error-input" *ngIf="sistemaForm.get('anoCopia')?.errors?.['required'] && sistemaForm.get('anoCopia')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <mat-slide-toggle class="group-slide" [color]="color" [checked]="checked" [disabled]="disabled" (change)="handleChangePago($event)">
                        Gerar Cópia das Despesas?
                    </mat-slide-toggle>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <input type="submit" value="Salvar" class="btn-primary"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="tipoTela == 1" class="container-base">
    <div class="content-page">
        <div class="header-info-2">
            <div class="card-header">
                <div class="card-title">Listagem de Sistemas</div>
                <div class="card-menu" (click)="cadastro()">Cadastro de Sistemas</div>
            </div>

            <table [cellSpacing]="0" [cellPadding]="0">
                <thead>
                    <tr>
                        <td>Código</td>
                        <td>Nome</td>
                        <td>Ação</td>
                    </tr>
                </thead>

                <tbody>
                    <tr class="select-item" *ngFor="let item of tableListSistemas | paginate: config; let i = index"
                    class="linha-table" [ngClass]="{'linha-cinza': i % 2 == 0, 'linha-branca': i % 2 !== 0}">
                    <td>{{item.id}}</td>
                    <td>{{item.nome}}</td>
                    <td (click)="edicao(item.id)">Edit</td>
                </tr>
                </tbody>
            </table>
            
            <div class="tabela-footer" *ngIf="paginacao && tableListSistemas">
                <label class="mostrar">Mostrar</label>
                <ng-select (change)="mudarItensPorPagina()" [(ngModel)]="itensPorPagina" [clearable]="false" [searchable]="false" class="mostrar-drop">
                    <ng-option [value]="10">10</ng-option>
                    <ng-option [value]="50">50</ng-option>
                    <ng-option [value]="100">100</ng-option>
                </ng-select>
                
                <div class="container-pagination">
                    <pagination-controls id="{{this.id}}" previousLabel="Anterior" nextLabel="Próximo"
                    [responsive]="true" (pageChange)="mudarPagina($event)">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>