<navbar></navbar>
<sidebar></sidebar>

<div class="container-base">
    <div class="content-page">
        <div class="container-cards">
            <div class="card">
                <div class="title">
                    <div class="card-icon"></div>
                    <div class="card-category">Investimentos</div>
                    <h3 class="card-title">R$<span id="Investimento"></span></h3>
                </div>

                <div class="card-footer">
                    <div class="arrow"></div>
                    <div class="text-info">off</div>
                </div>
            </div>
        </div>
    </div>
</div>